body {
    font-family: "Helvetica", Sans-Serif;
    font-size: 16px;
    text-align: justify;
    letter-spacing: .04rem;
    line-height: 1.7em;
    background-color: aquamarine;
}

.fixed-width {
    background-color: rgb(238, 238, 238);
    margin: auto;
    max-width: 1200px;
}

.borders {
    padding: 1em;
    border-block: 0px solid red;
}

.left_pannel {
    width: 22em;
    float: left;
    background-color: antiquewhite;
}

.right_pannel {
    overflow: hidden;
    background-color: azure;
}

.main-menu {
    overflow: hidden;
    background-color: bisque;
    text-align: center;
}

.top_pannel {
    background-color: beige;
    text-align: center;
}

.left_menu_block {
    width: auto;
    overflow: hidden;
    background-color: burlywood;
}

.central_pannel {
    display: inline-block;

    background-color:darkkhaki;
}

.astronaut_block {
    float: left;
    background-color: aliceblue;
    width: 11em;
}

.button {
    font-family: "Helvetica", Sans-Serif;
    font-size: 16px;
}

.menu_button {
    float: left;
    width: 10em;
    background-color: blanchedalmond
}

.hire_button {
    float: right;
    width: 4em;
    height: 5.5em;
}

.send_button{
    float: right;
    width: 8em;
    height: 5.5em;
}

.candidate {
    overflow: hidden;
    width: 20em;
    float: left;
    background-color: burlywood;
}

.contacts_pannel{
    display: inline-block;
    background-color:antiquewhite;
}

.event {
    background-color: aqua;
}

.pagination{
    background-color:cadetblue;
}

.mission_block{
    display: inline-block;
}

.mission_results{
    background-color:aliceblue;
}

ul {
    list-style-type: none;
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}