<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Astronaut CV</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moonhr/site.css' %}" />
</head>

<body>
    {% include 'moonhr/main-menu.html' %}
    </div>
    <p>Name: {{user_astronaut.astronaut.name}} {{user_astronaut.astronaut.surname}}</p>
    {% include 'moonhr/tags-menu.html' %}
    <p>Status: {{user_astronaut.status}}</p>
    <p>{{user_astronaut.astronaut.cv|safe}}</p>
    {% include 'moonhr/main-menu.html' %}
</body>

</html>