<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Employees List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moonhr/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'moonhr/employees.css' %}" />
</head>

<body>
    <div class="fixed-width">
        {% include 'moonhr/main-menu.html' %}
        <div class="top_pannel borders">
            <p>Here, you can see your employees. CVs, tags and statuses. View CVs and work with tags don't take your
                time.
            </p>
        </div>

        <div class="central_pannel borders">
            <div class="pagination borders">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

            {% for contact in page_obj %}
            <div class="employee_line">
                {% include 'moonhr/astronaut.html' %}
                <div class="astronaut_status borders">
                    {{ contact.user_astronaut.status }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</body>

</html>