<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Moon Home</title>
</head>

<body>
    <p>---------------------------------------------------</p>
    <p>Game:</p>
    <div> 
        <p><a href="candidates/">Candidates</a></p>  
        <p><a href="employees/">Employees</a></p>
        <p><a href="missions/">Missions</a></p>    
        <p><a href="finished-missions/">Finished missions</a></p>  
        
    </div>
    <p>Score: {{score}}</p>
    <p>---------------------------------------------------</p>
    <p>Debug:</p>
    <div>
        <form action="/" method="get">
            <input type="hidden" name="reset_game" value="1"/>
            <button type="submit">Reset game</button>
        </form>
        <br/>
        <form action="/" method="get">
            <input type="hidden" name="finish_missions" value="1"/>
            <button type="submit">Finish missions</button>
        </form>
    </div>
    <div>
        <p><a href="mission-description/?mission_pk_to_view=1">Mission</a></p>   
        <p><a href="cv/?contact_pk_to_view=1">CV</a></p> 
    </div>
</body>

</html>