<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Moon Home</title>
</head>

<body>
    {% include 'moonhr/main-menu.html' %}
    <br />
    <div class="">
        {% if profile.day < 5 %} <form action="/" method="get">
            <input type="hidden" name="end_day" value="1" />
            <button type="submit">End day {{profile.day}}</button>
            </form>
            {% endif %}
    </div>
    <br />
    <div>
        <form action="/" method="get">
            <input type="hidden" name="end_week" value="1" />
            <button type="submit">End week {{profile.week}}</button>
        </form>
    </div>

    <div>
        <p>Events:</p>
        {% for event in events %}
        <p>{{event.week}} : {{event.day}} : {{event.time}}:00 -- {{event.description}}</p>
        {% endfor %}
    </div>

    <p>Score: {{profile.score}}</p>
    <p>---------------------------------------------------</p>
    <p>Debug:</p>
    <div>
        <form action="/" method="get">
            <input type="hidden" name="reset_game" value="1" />
            <button type="submit">Reset game</button>
        </form>
        <br />
        <form action="/" method="get">
            <input type="hidden" name="finish_missions" value="1" />
            <button type="submit">Finish missions</button>
        </form>
    </div>
    <div>
        <p><a href="mission-description/?mission_pk_to_view=1">Mission</a></p>
        <p><a href="cv/?contact_pk_to_view=1">CV</a></p>
    </div>
</body>

</html>