<div class="menu">
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <a href="/">Events on {{profile.week}}:{{profile.day}} at {{profile.time}}:00 </a> |
    <a href="/candidates/">Candidates ({{profile.candidates}})</a> |
    <a href="/employees/">Employees ready ({{profile.ready}})</a> |
    <a href="/missions/">New missions ({{profile.new_missions}})</a> |
    <a href="/workon-missions/?type=inprogress">Current missions ({{profile.current_missions}})</a> |
    <a href="/workon-missions/?type=finished">Finished missions ({{profile.finished_missions}})</a>
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------</p>
</div>