<div class="main-menu borders">
    <div class="menu_button borders"><a href="/">{{profile.current_user.week}}:{{profile.current_user.day}}:{{profile.current_user.time}}:00 </a></div>
    <div class="menu_button borders"><a href="/candidates/">Candidates({{profile.candidates}})</a></div>
    <div class="menu_button borders"><a href="/employees/">Ready ({{profile.ready}})</a></div>
    <div class="menu_button borders"><a href="/missions/">Missions ({{profile.new_missions}})</a></div>
    <div class="menu_button borders"><a href="/workon-missions/?type=inprogress">Current ({{profile.current_missions}})</a></div>
    <div class="menu_button borders"><a href="/workon-missions/?type=finished">Finished ({{profile.finished_missions}})</a></div>
</div>