<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mission requests</title>
</head>

<body>
    <div><a href="/">Back to Room</a></div>
    <p>---------------------------------------------------</p>
    <div>
        <p>Here, you can send employed astronauts on missions.</p>
        <p>Reading mission details is free. Send to mission is taking 2 hours.</p>
        <p>{{message}}</p>
    </div>
    <p>---------------------------------------------------</p>
    <div>
        <!--p>New missions: {{ page_obj.paginator.num_pages }}</p-->
        {% for user_mission in page_obj %}
        <ul>
            <li>
                <p>{{ user_mission.mission.place.name }} | {{ user_mission.mission.task }} | {{ user_mission.status }}
                </p>
                <p>Description: {{user_mission.mission.description|safe}}</p>
            </li>
        </ul>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <p>---------------------------------------------------</p>
    <div>
        <p>Astronauts for missions: {{astronauts_count}} </p>
        {% for contact in user_astronauts %}
        <form action="/missions/" method="get">
            <ul>
                <li>{{ contact.user_astronaut.astronaut.name }}
                    {{ contact.user_astronaut.astronaut.surname }}
                    {{ contact.user_astronaut.status }}

                    <input type="hidden" name="user_astornaut_pk" value="{{ contact.user_astronaut.pk }}">
                    {% for user_mission in page_obj %}
                    <input type="hidden" name="user_mission_pk" value="{{ user_mission.pk }}">
                    {% endfor %}
                    {% if contact.user_astronaut.status == 'Ready' %}
                    <button type="submit">Start</button>
                    {% endif %}
                    <a href="/cv/?contact_pk_to_view={{contact.user_astronaut.pk}}">CV</a>
                    <p>Tags:
                        {% for user_astronaut_tag in contact.tags %}
                        {{user_astronaut_tag.tag.tag}}
                        {% endfor %}
                    </p>
                </li>
            </ul>
        </form>
        {% endfor %}

    </div>
    <p>---------------------------------------------------</p>
    <div><a href="/">Back to Room</a></div>
</body>

</html>