<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mission Description</title>
</head>

<body>
    {% include 'moonhr/main-menu.html' %}
    <p>Place: {{page_obj.mission.place.name}}</p>
    <p>Who: {{page_obj.mission.who}}</p>
    <p>Status: {{page_obj.status}}</p>
    <p>Task: {{page_obj.mission.task}}</p>
    <p>Astronaut: {{page_obj.astronaut.name}}</p>
    <p>---------------------------------------------------</p>
    <p>Description: {{page_obj.mission.description|safe}}</p>
    <p>---------------------------------------------------</p>
    <p>Result: {{description|safe}}</p>
    <p>---------------------------------------------------</p>
    {% include 'moonhr/main-menu.html' %}
</body>

</html>