<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mission requests</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moonhr/site.css' %}" />
</head>

<body>
    <div class="fixed-width">
        {% include 'moonhr/main-menu.html' %}
        <div class="top_pannel  borders">
            <p>Here, you can send employed astronauts on missions.
                Astronauts for missions: {{astronauts_count}}
                {{message}}</p>
        </div>

        <div class="left_pannel borders">
            {% for contact in user_astronauts %}
            <div class="mission_block">
                <form action="/missions/" method="post">
                    {% csrf_token %}
                    <div class="astronaut_block borders">
                        {% include 'moonhr/astronaut.html' %}
                    </div>

                    <input type="hidden" name="user_astornaut_pk" value="{{ contact.user_astronaut.pk }}">
                    {% for user_mission in page_obj %}
                    <input type="hidden" name="user_mission_pk" value="{{ user_mission.pk }}">
                    {% endfor %}

                    <button class="send_button button borders" type="submit">Send 
                        {{contact.user_astronaut.astronaut.name}} </button>


                </form>
            </div>
            {% endfor %}
        </div>

        <div class="right_pannel borders">
            <div class="pagination borders">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% for user_mission in page_obj %}
            <div class="borders">{{ user_mission.mission.task }} for {{ user_mission.mission.who }} in
                {{user_mission.mission.place.name }}</div>
            <div class="borders">{{user_mission.mission.description|safe}}</div>
            {% endfor %}

        </div>
    </div>

</body>

</html>